In [2]:
import pyspark
import os
import sys
import pandas as pd
from pyspark.sql import SparkSession


os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [3]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [5]:
df_green = spark.read.parquet('../data/pq/green/*/*')

In [8]:
df_yellow = spark.read.parquet('../data/pq/yellow/*/*')

### There seems to be different number of columns in both dataframes. For example column "ehail_fee" only exists in the green taxi datasets.

In [10]:
## This is a way to set both dataset so we can have cloumns present in both dataset

set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [11]:
#observation shows that pickup date and drop off date are different 
#for both datasets so we need to rename them for conformity in both datasets

df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [12]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [13]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [14]:
common_colums = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_colums.append(col)

In [15]:
common_colums

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

## before combining both datasets, we need to declare a column in both 
## datasets called 'service type' in order to make sure we can trace the data

In [16]:
from pyspark.sql import functions as F

In [17]:
df_green_sel = df_green \
    .select(common_colums) \
    .withColumn('service_type', F.lit('green'))

In [18]:
df_yellow_sel = df_yellow \
    .select(common_colums) \
    .withColumn('service_type', F.lit('yellow'))

In [19]:
## combinning both datasets into one
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [20]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [21]:
#this is done inorder for us to access the spark df via SQL
df_trips_data.registerTempTable('trips_data')

C:\spark\spark-3.3.2-bin-hadoop2\python\pyspark\sql\dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [22]:
#now we use SQL to interact with out dataset
spark.sql("""
SELECT
    service_type,
    count(1)
FROM
    trips_data
GROUP BY 
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [23]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [24]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|          20|2020-01-01 00:00:00|       green|  11375.420000000002|                681.0|                  131.0|         90.62000000000002|          479.86000000000024|                   147.29999999999987|          12923.199999999975|                                11.0|        1.2297872340425533|       4.872311926605501|
|         262|2020-01-01 00:00:00|       green|             1692.21|               104.75|                   11.5|                     32.34|          122.66000000000001|                    18.00000000000002|          1981.4599999999996|                                 0.0|        1.4285714285714286|       7.544833333333333|
|         264|2008-12-01 00:00:00|       green|                 0.0|                  0.0|                    0.0|                       0.0|                         0.0|                                  0.0|                         0.0|                                 0.0|                       1.0|                     0.0|
|         240|2020-02-01 00:00:00|       green|  2960.2299999999996|               168.25|                   17.0|                      8.42|                      166.43|                    25.50000000000004|           3345.830000000001|                                 0.0|        1.3714285714285714|       8.984042553191488|
|         189|2020-02-01 00:00:00|       green|            15421.81|                999.5|                  336.5|        1116.5299999999986|           64.50999999999999|                    264.9000000000043|            18544.0499999999|                              192.25|        1.2527301092043681|       3.276981339187703|
|         186|2020-02-01 00:00:00|       green|             1189.18|                105.0|                    4.0|                       0.0|                       72.41|                   10.500000000000004|          1381.0900000000001|                                 0.0|                       1.0|       8.831428571428571|
|         160|2020-03-01 00:00:00|       green|  2005.5800000000004|                16.25|                   17.5|                     26.46|           85.67999999999999|                    30.60000000000003|          2206.3199999999997|                                8.25|        1.2162162162162162|       4.635686274509804|
|         236|2020-01-01 00:00:00|       green|  13472.720000000001|                755.5|                  443.0|        1573.1299999999974|          397.23000000000025|                   298.50000000000557|          18493.029999999846|                             1702.25|        1.4016203703703705|      3.1214737883283865|
|         153|2020-01-01 00:00:00|       green|   4208.179999999999|               217.25|                   63.0|                     52.21|          112.96000000000002|                    54.29999999999984|           4723.850000000009|                                11.0|        1.3364485981308412|       4.772254901960786|
|         235|2020-02-01 00:00:00|       green|  25442.410000000105|              2041.25|                  214.0|        61.260000000000005|           722.1600000000004|                   287.70000000000516|          28791.929999999837|                               19.25|        1.1577464788732394|        5.24859464627151|
|         239|2020-03-01 00:00:00|       green|              744.97|                  0.0|                    0.5|                       0.0|                        33.4|                    6.599999999999999|                      785.47|                                null|                      null|      10.867272727272727|
|         209|2020-03-01 00:00:00|       green|  2723.2799999999997|                  0.0|                    3.0|                       0.0|                       78.53|                    23.10000000000002|          2834.8100000000004|                                 0.0|                       1.0|       9.855194805194804|
|         158|2020-02-01 00:00:00|       green|              124.36|                 8.25|                    0.5|                       0.0|                         2.8|                   0.8999999999999999|                      136.81|                                null|                      null|      11.090000000000002|
|         260|2020-03-01 00:00:00|       green|            39746.79|              1340.75|                 1640.5|                   3210.93|           234.2400000000001|                    1034.099999999978|          47562.909999999574|                              371.25|        1.4977631971368923|      2.6658366762177663|
|         205|2020-01-01 00:00:00|       green|    42175.2200000002|              2547.25|                  223.5|                      24.9|           996.5900000000006|                    383.7000000000088|           46353.11000000004|                                 0.0|        1.1291866028708133|       7.099325284090906|
|         101|2020-01-01 00:00:00|       green|   8472.769999999999|                460.5|                   38.0|        15.219999999999999|          232.56000000000012|                    70.49999999999969|           9289.550000000005|                                2.75|        1.0512820512820513|       9.081153846153846|
|         232|2020-02-01 00:00:00|       green|   5079.369999999999|               476.75|                   17.0|                       0.0|          184.35000000000005|                   52.799999999999855|           5810.269999999996|                                 0.0|                       1.0|       7.241874999999999|
|         122|2020-03-01 00:00:00|       green|   5388.269999999999|                 34.0|                   41.5|                       0.0|          120.99000000000001|                    68.39999999999989|           5674.910000000005|                                 0.0|                     1.275|       48.69600877192986|
|         167|2020-01-01 00:00:00|       green|   17975.34000000001|               1192.0|                  188.5|         50.07000000000001|           690.8400000000004|                    234.9000000000032|          20337.149999999914|                                11.0|        1.1871345029239766|      4.4915427927927905|
|          77|2020-01-01 00:00:00|       green|  21700.030000000104|               1447.5|                  180.5|                      9.92|           714.1700000000004|                   213.60000000000238|          24274.569999999996|                                 0.0|        1.1180124223602483|       6.017022538552787|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [25]:
#we decide to write this result and store it for use

df_result.coalesce(1).write.parquet('../data/report/revenue/', mode='overwrite')